<h3>Convertion</h3>
<form class="form-inline">

  <div class="form-group">
    <div class="col-sm-offset-9 col-sm-3 col-xs-12">
      <select class="form-control" ng-model="currentCategory">
        <option value="">--Select--</option>
        <option ng-repeat="category in model.categories">{{category}}</option>
      </select>
    </div>
  </div>


  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
      <div class="input-group-addon">.00</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Transfer cash</button>
</form>